/*links*/

nav a:link{
    
    color:black;
    text-decoration: none;
}
nav a:visited{
    border-radius: 25px;
    color:black;
    text-decoration: none;
}
nav a:hover{
    border-radius: 25px;
    color:white;
    text-decoration: none;
    background-color: lightslategray;
    padding: 9px;
}

nav{
    border-radius: 25px;
    background-color: antiquewhite;
    padding: 10px;
}
/*nav li{display: inline; background-color: black;}*/
nav li a{color: white}

body{

    background-color: lightblue;
}
#examOptions.row{
    text-align:center;
}
#q_comments{
    padding-bottom:45px;
}
.button{ 

    border-radius: 25px;
    background-color: antiquewhite;

}

.button:hover{
    border-radius: 25px;
    background-color: lightslategray;

}


button{
    border-radius: 25px;
    width: 100%;
    background-color: antiquewhite;
    margin: 2px;
}

button:hover{
    border-radius: 25px;
    background-color: lightslategray;

}


.column {
    float: left;
    width: 50%;
    
    
}
.answers{
    padding:20px;
    height: 150px;
    width:40%;
}
.results{
    padding-top:50px;
}

pre{
    white-space:pre-wrap;
}

.question_form{
    display: block;
}
form{
    margin-top: 20px;
}

.header_left{
    width:42%;
}

.fill{
 
    overflow: auto;
    width: 800px;
    height: 500px;
    resize: none;
}
.comments{
    overflow: auto;
    width: 485px;
    height: 50px;
    resize: none;

}
span {
    display: block;
    overflow: hidden;
}
.left{
    width: 40%;
    margin-left: 25px;
}

.right{

    width: 50%;
    margin-left: 50px;
    
}

button.right{
    width: 10%;
}



.qLinks{
    margin-left: 20px;
    width: 35%;

}


button.create_exam_form{
    background-color: aqua;
    justify-content: center;
    
}
#examID.column{
    text-align: center;
}
.exam{
    margin: 2px;
}

#qLink{
    display: inline-block;
    font-size: 15px;
    padding: 10px 24px;
    width: 25%;
    margin: 5px;
}
  
h2.title{
    margin-top: 50px;
}

.title{
    /*display: flex;
    justify-content: center; */
    text-align: center;
     
}

.exam{
    width: 10%;
    border-radius: 25px;
    background-color: lightslategray;
    
}


.center{
    
    display:flex;
    justify-content: center;
    
}


#viewExam.button{
    display: inline-block;
    font-size: 25px;
    padding: 5px 24px;
}

#examID{
  
    width: 100%

}

td{
    padding: 0 15px;
    vertical-align: top;
    border-style: solid;

    
}
.qInfo{
    border-style: solid;
}

.comment{
    width:10%;
}

.resultsTable{
    border-style: solid;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 80%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkslategray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

#exam_template{
    overflow: auto;
}


  
#qBank {
    padding: 10px;
    border-radius: 25px;
    overflow: auto;
    height: 75%;
    background-color: lightgray;
}

.qTitle{
    width:10%;
    border-style: solid;
}
.qInfo{
    width: 25%;
}

.addBtn{
    width: 5%;
}

